{% extends "layout.html" %}

{% block title %}
    Amortizations
{% endblock %}

{% block menu %}
    <form action="/amort_filter" method="get" class="search-form">
        <select required class="select-input" autofocus name="user_amortization_id">
            <option value="" selected>Id</option>
            {% for user_amortization_id in user_amortization_ids %}
              <option value="{{user_amortization_id['user_amortization_id']}}">{{user_amortization_id['user_amortization_id']}}</option>
            {% endfor %}
        </select>
        <button class="action-btn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="action-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>
        </button>
    </form>
    <form action="/amort_filter" method="get"class="search-form">
      <select required class="select-input" autofocus name="user_loan_id">
          <option value="" selected>Loan's Id</option>
          {% for user_loan_id in user_loan_ids %}
          <option value="{{user_loan_id['user_loan_id']}}">{{user_loan_id['user_loan_id']}}</option>
        {% endfor %}
      </select>
      <button class="action-btn">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="action-icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
          </svg>
      </button>
  </form>
    <label class="input-label" for="before" >Paid before</label>
    <form action="/amort_filter" method="get" class="search-form">
        <input id="before" required class="select-input" autocomplete="off" autofocus name="paid_before" type="date">
        <button class="action-btn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="action-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>
        </button>
    </form> 
    <label class="input-label" for="after" >Paid after</label>
    <form action="/amort_filter" method="get" class="search-form">
        <input id="after" required class="select-input" autocomplete="off" autofocus name="paid_after" type="date">
        <button class="action-btn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="action-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>
        </button>
    </form> 

{% endblock %}

{% block table %}
<table class="table margin-t-m">
  <thead>
    <tr>
      <th class="text-center th-12">Action</th>
      <th class="text-center th-4">Id</th>
      <th class="text-end th-4">Loan's id</th>
      <th class="text-end th-16">Amortization value</th>
      <th class="text-center th-16">Amortization date</th>
      <th class=""></th>
    </tr>
  </thead>
  <tbody>
    {% for amortization in amortizations %}
    <tr>
      <td class="text-center">
          <div class="action-column">
              <form action="/edit_amortization" method="get">
                <input name="user_amortization_id" type="hidden" value="{{amortization['user_amortization_id']}}">
                  <button class="action-btn">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="action-icon">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                      </svg>
                      
                  </button>
              </form>
              <form action="/delete_amortization" method="post">
                <input name="user_amortization_id" type="hidden" value="{{amortization['user_amortization_id']}}">
                  <button class="action-btn">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="action-icon">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                  </button>
              </form>
          </div>
          </td>
      <td class="text-end">{{amortization["user_amortization_id"]}}</td>
      <td class="text-end">{{amortization["user_loan_id"]}}</td>
      <td class="text-end">{{amortization["amort_value"]|usd}}</td>
      <td class="text-center">{{amortization["amort_date"]}}</td>
      <td></td>
  
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}