{% extends "layout.html" %}

{% block title %}
    Password change
{% endblock%}

{% block change_password %}
<form class="user-form" action="/passwordchange" method="post">
    <div>
        <input name="old" placeholder="Old Password" type="password" value={{old}}>
    </div>
    <div>
        <input name="new" placeholder="New Password" type="password" value={{new}}>
    </div>
    <div>
        <input name="confirmation" placeholder="Confirm Password" type="password" value="{{confirmation}}">
    </div>
    {% if message %}
    <div class="error-message" role="alert">
        </p>
            {{message}}
        <p>
    </div>
    {% endif %}
    <button class="btn" type="submit">Change</button>

</form>
{% endblock %}